<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appWeChat" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <appWeChat>
    <add key="appId" value="wxd171c38d55f771b8" />
    <add key="appSecret" value="8d4b1b0d104ba65dafb6809499afd772" />
  </appWeChat>
</configuration>